In [21]:
import pandas as pd
movie=pd.read_csv("C:\\Users\\user\\Desktop\\datas\\train.tsv",header=0,delimiter='\t')

In [22]:
movie.head

<bound method NDFrame.head of         PhraseId  SentenceId  \
0              1           1
1              2           1
2              3           1
3              4           1
4              5           1
...          ...         ...
156055    156056        8544
156056    156057        8544
156057    156058        8544
156058    156059        8544
156059    156060        8544

                                                   Phrase  Sentiment
0       A series of escapades demonstrating the adage ...          1
1       A series of escapades demonstrating the adage ...          2
2                                                A series          2
3                                                       A          2
4                                                  series          2
...                                                   ...        ...
156055                                          Hearst 's          2
156056                          forced avuncular chortles          1
156057                                 avuncular chortles          3
156058                                          avuncular          2
156059                                           chortles          2

[156060 rows x 4 columns]>

In [23]:
movie

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2
...,...,...,...,...
156055,156056,8544,Hearst 's,2
156056,156057,8544,forced avuncular chortles,1
156057,156058,8544,avuncular chortles,3
156058,156059,8544,avuncular,2
156059,156060,8544,chortles,2

In [24]:
movie.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [25]:
movie.tail()

        PhraseId  SentenceId                     Phrase  Sentiment
156055    156056        8544                  Hearst 's          2
156056    156057        8544  forced avuncular chortles          1
156057    156058        8544         avuncular chortles          3
156058    156059        8544                  avuncular          2
156059    156060        8544                   chortles          2

In [26]:
movie.describe

<bound method NDFrame.describe of         PhraseId  SentenceId  \
0              1           1
1              2           1
2              3           1
3              4           1
4              5           1
...          ...         ...
156055    156056        8544
156056    156057        8544
156057    156058        8544
156058    156059        8544
156059    156060        8544

                                                   Phrase  Sentiment
0       A series of escapades demonstrating the adage ...          1
1       A series of escapades demonstrating the adage ...          2
2                                                A series          2
3                                                       A          2
4                                                  series          2
...                                                   ...        ...
156055                                          Hearst 's          2
156056                          forced avuncular chortles          1
156057                                 avuncular chortles          3
156058                                          avuncular          2
156059                                           chortles          2

[156060 rows x 4 columns]>

In [27]:
print(movie.count())

PhraseId      156060
SentenceId    156060
Phrase        156060
Sentiment     156060
dtype: int64

In [28]:
print(movie.Sentiment.unique())

[1 2 3 4 0]

In [29]:
movie['Sentiment']

0         1
1         2
2         2
3         2
4         2
         ..
156055    2
156056    1
156057    3
156058    2
156059    2
Name: Sentiment, Length: 156060, dtype: int64

[1 2 3 4 0], These are the unique values of sentiment

In [30]:
print(movie['Sentiment'].value_counts())

2    79582
3    32927
1    27273
4     9206
0     7072
Name: Sentiment, dtype: int64

In [31]:
print(movie['Sentiment'].value_counts()/movie['Sentiment'].count()*100)

2    50.994489
3    21.098936
1    17.475971
4     5.899013
0     4.531590
Name: Sentiment, dtype: float64

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model.logistic import LogisticRegression

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score,recall_score
from sklearn.metrics import accuracy_score,f1_score
from sklearn.preprocessing import LabelBinarizer
from sklearn.pipeline import Pipeline
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [33]:
def main():
    pipeline=Pipeline([
                    ('vect',TfidfVectorizer(stop_words='english')),
                      ('clf',LogisticRegression())
                      ])
    parameters={
        'vect__max_df':(0.25,0.5),
        'vect__ngram_range':((1,1),(1,2)),
        'vect__use_idf':(True,False),
        'clf__C':(0.1,1,10)
    }
    X,y=movie['Phrase'],movie['Sentiment']
    X_train,X_test,y_train,y_test =train_test_split(X,y,train_size=0.5)
    grid_search=GridSearchCV(pipeline,parameters,n_jobs=-1,verbose=1,
                            scoring='accuracy',cv=3)
    grid_search.fit(X_train,y_train)
    print("Best score : %0.3f"%grid_search.best_score_)
    print('best parameters set :')
    best_parameters=grid_search.best_estimator_.get_params()
    for param_name in sorted(parameters.keys()):
        print("\t %s : %r "% (param_name,best_parameters[param_name]))
    predictions=grid_search.predict(X_test)
    print('Accuracy:',accuracy_score(y_test,predictions))
    print("Confusion matrix :",confusion_matrix(y_test,predictions))
    print("classification report:",classification_report(y_test,predictions))
    
    
if __name__=='__main__':
    main()

Fitting 3 folds for each of 24 candidates, totalling 72 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:  2.6min
[Parallel(n_jobs=-1)]: Done  72 out of  72 | elapsed:  4.8min finished
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Best score : 0.609
best parameters set :
	 clf__C : 10
	 vect__max_df : 0.25
	 vect__ngram_range : (1, 2)
	 vect__use_idf : False
Accuracy: 0.627438164808407
Confusion matrix : [[ 1146  1644   678   103    14]
 [ 1018  5733  6303   564    33]
 [  259  3210 32640  3579   206]
 [   29   438  6717  7845  1296]
 [    4    55   583  2338  1595]]
classification report:               precision    recall  f1-score   support

           0       0.47      0.32      0.38      3585
           1       0.52      0.42      0.46     13651
           2       0.70      0.82      0.75     39894
           3       0.54      0.48      0.51     16325
           4       0.51      0.35      0.41      4575

    accuracy                           0.63     78030
   macro avg       0.55      0.48      0.50     78030
weighted avg       0.61      0.63      0.61     78030

 From this  3518 are supporting class Zero movie, 13621 are supporting class One movie, 39749 are supporting class 2 movie, 16496 are supporting class Three movies and 4646 are supporting class 4 movies